
atmos-sci/radar/thredds/.DS_Store
atmos-sci/satellite/goes/.ipynb_checkpoints/Untitled-checkpoint.ipynb
atmos-sci/satellite/goes/.ipynb_checkpoints/goes_class_notebook_example-checkpoint.ipynb
Jupyter-Notebooks/.DS_Store

.ipynb_checkpoints
